<%- include("../partials/header") %>
<div class="row">
    <div class="col-md-3">
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            
           
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-success" href="#">Add New Comment</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>